<div class="euiPage" ng-controller="createJobMappingsController as ctrl">
  <div class="euiPageBody">
    <div class="euiPageHeader euiPageHeader--responsive">
      <div class="euiPageHeaderSection">
        <h1 class="euiTitle euiTitle--large">Arcanna</h1>
      </div>
      <div class="EuiPageHeaderSection">Automated Root Cause Analysis Neural Network Assisted</div>
    </div>
    <div class="euiPanel euiPanel--paddingExtraLarge euiPageContent">
      <div class="euiPageContentHeader euiPageContentHeader--responsive">
        <div class="euiPageContentHeaderSection">
          <h2 class="euiTitle euiTitle--medium">Select index fields</h2>
        </div>
      </div>
      <div>
        <!-- <mapping-field></mapping-field> -->
        <index-mappings></index-mappings>
      </div>
    </div>
  </div>
</div>