<div class="euiPage" ng-controller="createJobController as ctrl">
    <div class="euiPageBody">
        <div class="euiPageHeader euiPageHeader--responsive">
            <div class="euiPageHeaderSection">
                <h1 class="euiTitle euiTitle--large">Arcanna</h1>
            </div>
            <div class="EuiPageHeaderSection">Automated Root Cause Analysis Neural Network Assisted</div>
        </div>
        <div class="euiPanel euiPanel--paddingExtraLarge euiPageContent">
            <div class="euiPageContentHeader euiPageContentHeader--responsive">
                <div class="euiPageContentHeaderSection">
                    <h2 class="euiTitle euiTitle--medium">Create new ML job</h2>
                </div>
            </div>
                <index-table selectedIndexList="{ctrl.selectedIndexList}"></index-table>
            </div>
        </div>
    </div>
</div>


<!-- <md-content flex="auto" layout="column" layout-align="center" ng-controller="mainController as ctrl">
    <div><H1>Hello, my nome is index. {{ ctrl.message }}</H1></div>
    <div>
        <ul>
            <li ng-repeat="indexName in ctrl.indexNames">{{indexName}}</li>
        </ul>
    </div>
</md-content> -->