<div class="euiPage" ng-controller="feedbackNextController as ctrl">
  <div class="euiPageBody">
    <div class="euiPageHeader euiPageHeader--responsive">
      <div class="euiPageHeaderSection">
        <h1 class="euiTitle euiTitle--large">Arcanna</h1>
      </div>
      <div class="EuiPageHeaderSection">Automated Root Cause Analysis Neural Network Assisted</div>
    </div>
    <div class="euiPanel euiPanel--paddingExtraLarge euiPageContent">
      <div class="euiPageContentHeader euiPageContentHeader--responsive">
        <div class="euiPageContentHeaderSection">
          <h2 class="euiTitle euiTitle--medium">Feedback</h2>
        </div>
      </div>
      <div>
        <!-- <mapping-field></mapping-field> -->
        <feedback-next></feedback-next>
      </div>
    </div>
  </div>
</div>